<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meusmedicos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/meus_medicos"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddConsultasActivity"
           		  android:label="@string/activity_consultas_message" 
           		  android:parentActivityName="com.example.meusmedicos.ShowConsultas" >
        </activity>
        <activity android:name=".ShowConsultas"
           		  android:label="@string/activity_consultas_message" 
           		  android:parentActivityName="com.example.meusmedicos.MainActivity" >
        </activity>
        <activity android:name=".AddAnnotationOnConsulta"
                  android:label="@string/activity_anotacoes_message"
                  android:parentActivityName=".ShowConsultaDetalhada">
        </activity>
        <activity android:name=".ShowConsultaDetalhada"
                  android:label="@string/activity_consultas_message"
                  android:parentActivityName=".ShowConsultas">
        </activity>
        <activity android:name=".ShowSintomas"
                  android:label="@string/activity_sintomas_message"
                  android:parentActivityName=".MainActivity"/>
        <activity
                  android:name=".AddSintomasActivity"
                  android:label="Sintoma"
                  android:parentActivityName=".ShowSintomas"/>
        <activity
            android:name=".ShowSintomaDetalhado"
            android:label="Sintoma"
            android:parentActivityName=".ShowSintomas"/>
        <activity
            android:name=".EditSintomasActivity"
            android:label="Sintoma"
            android:parentActivityName=".ShowSintomaDetalhado"/>
        <activity android:name=".DialogEspecialidade" />
    </application>

</manifest>
